<div class="card" style="width: 18rem;">
  <img src="{{movie.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="/movies/{{movie.id}}" class="btn btn-primary">{{movie.title}}</a>

  </div>
</div>